@import "../../../shared/scss/variables/variables.scss";

img {
  width: 150px;
}

li {
  list-style: none;
  font-weight: $font-weight-300;
  cursor: pointer;
}

.current-menu {
  font-size: $font-size-48;
}
